@charset "utf-8";
html {
	font-size: 62.5%;
	/*  ベース 16px x 0.625 = 10px(=1rem) */
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	/* Landscapeの文字サイズを自動調整をオフ */
	word-wrap: break-word;
	/* 文字の折り返しの制御 */
	overflow-wrap: break-word;
	font-family: Arial, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/* ボックスの定義を変更 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* img iframe のはみだし防止 */
img,
iframe {
	display: block;
	/* max-width: 100%; */
	height: auto;
	/* vertical-align: top; */
}

/* 共通設定 */
:root {
	--main-color: #EFA358;
	--base-color: #555;
	--white-color: #fff;
	/* --main-background-color:#EFA358; */
}

h1,
h2,
h3 {
	color: var(--main-color);
}

p {
	color: var(--base-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	height: auto;
	/*自動調整*/
	line-height: 1.6;
}

/*h1 {
   font-size: 3.2rem;
 }*/

/* Googleフォントの設定 */
h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', sans-serif;
}

/* デフォルトのリンクスタイルの設定 */
li,
dt,
dd,
br,
th,
td {
	margin-top: 0;
}
